<% layout('layouts/boilerplate') %>

<div class="col-8 offset-2 my-5">
    <div class="shadow-lg mb-3">
        <div class="card-header text-center">
            Edit Your Post
        </div>
        <div class="card-body">
            <form class="editPostForm mb-3 needs-validation" action="/<%=blogpost._id%>?_method=PUT" method="POST"
                novalidate enctype="multipart/form-data">
                <div class="row">
                    <div class="col-sm-2">
                        <label class="form-label pt-1" for="postTitle">Title</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="blogpost[title]" id="postTitle"
                            value="<%= blogpost.title %>" aria-describedby="titlehelpblock" autofocus required>
                        <small id="titlehelpblock" class="form-text text-muted mb-3">Blog Post Title</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label class="form-label pt-3" for="postBody">Text</label>
                    </div>
                    <div class="col">
                        <textarea class="form-control" name="blogpost[postText]" id="postBody"
                            required><%= blogpost.postText %></textarea>
                        <small id="textareahelpblock" class="form-text text-muted mb-3">Blog Post Text</small>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-2">
                        <label class="form-label pt-1" for="image">Images</label>
                    </div>
                    <div class="custom-file col-sm-10">
                        <input type="file" class="custom-file-input" name="image" id="image" multiple>
                        <label class="custom-file-label mx-3 overflow-hidden" for="image">Choose image(s)...</label>
                    </div>
                </div>
                <div class="mb-3">
                    <% blogpost.images.forEach(function(img, i) { %>
                    <img src="<%= img.thumbnail  %>" class="img-thumbnail mb-3" alt="">
                    <div class="form-check-inline mr-1">
                        <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                    </div>
                    <label for="image-<%= i %>">Delete?</label>
                    <% }) %>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
            </form>
        </div>
    </div>


    <a href="/<%= blogpost._id %>">Return to <%= blogpost.title %></a>
</div>