<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-8 offset-2">
        <div class="card mb-3">
            <img src="<%=blogpost.image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= blogpost.title %></h5>
                <p class="card-text"><%= blogpost.postText %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Submitted By: <%= blogpost.author.username %></li>
            </ul>
            <% if(currentUser && blogpost.author.equals(currentUser._id)) { %> 
            <div class="card-body">
                <a class="card-link btn btn-info" href="/blogposts/<%= blogpost._id %>/edit">Edit</a>
                <form class="d-inline" action="/blogposts/<%= blogpost._id %>/?_method=DELETE" method="POST">
                    <button class="btn btn-warning">Delete</button>
                </form>
            </div>
            <% } %> 
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
        <footer class="mb-3">
            <a href="/blogposts">Return to All Blogposts</a>
        </footer>
    </div>
</div>