<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/show.css">

<div class="row my-5">
    <div class="col-8 offset-2 ">
        <div class="shadow-lg mb-3">
            <div id="blogpostCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <% blogpost.images.forEach((img, i) => { %>
                    <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                        <img src="<%= img.url %>" class="d-block w-100" alt="">
                    </div>
                    <% }) %>
                </div>
                <% if(blogpost.images.length > 1) { %>
                <a class="carousel-control-prev" href="#blogpostCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#blogpostCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <% } %>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><%= blogpost.title %></h5>
                    <p class="card-text"><%= blogpost.postText %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Submitted By: <%= blogpost.author.username %></li>
                </ul>
                <% if(currentUser && blogpost.author.equals(currentUser._id)) { %>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/<%= blogpost._id %>/edit">Edit</a>
                    <form class="d-inline" action="/<%= blogpost._id %>/?_method=DELETE" method="POST">
                        <button class="btn btn-warning">Delete</button>
                    </form>
                </div>
                <% } %>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>

        </div>
        <footer class="mb-3">
            <a href="/">Return to All Blogposts</a>
        </footer>
    </div>
</div>